.footer{
    background-image:  url("../images/footer-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}

.logo-big{
    background-image:  url("../images/dc-logo-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

